<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left"> 
            <h2>Recent feeds</h2>
            <hr>
            <div *ngFor = "let post of recentPosts">
                    <h4><a [routerLink] ="['./answers', post.id]">{{post.question}}</a></h4>
                    <h5>{{post.description}}</h5>
                    <h6><a href ="mailto:{{post.email}}">{{post.askedBy}}</a></h6>
                    <div *ngIf = "post.keyWords.length > 0">
                        <span *ngFor="let tag of post.keyWords">{{tag}}</span>
                    </div>
                    <hr>
            </div>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>Total questions asked till date</p>
                <p><a href="#">23</a></p>
            </div>
            <div class="well">
                <p>Upcoming products or features of Shoretel</p>
                <p><a href ="#">Auto On Boarding</a></p>
            </div>
            <div class="well">
                <p>Latest technologies which are in boom </p>
                <p><a href="https://www.djangoproject.com/">Django</a></p>
            </div>
        </div>
    </div>
</div>