<nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>                        
                                </button>
                                <a class="navbar-brand" href="#">ShoreAsk</a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a routerLink="/home">Home</a></li>
                                    <li class="active"><a routerLink="/question"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Questions</a></li>
                                    <!--<li class="active"><a routerLink="/questionsforme"><span class=""></span>Questions for me</a></li>-->
                                </ul>
                                <form class="navbar-form navbar-left">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form> 
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span>My Account</a></li>
                                    <li class="active"><a href="javascript:void(0)" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>