<div id="view-container">
    <div class="mobile-loader-container">
    </div>
    <div>
        <landingpage-navbar></landingpage-navbar>
        <div class="container-fluid text-center">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left"> 
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle ="tab" href="#myquestions">My Questions</a></li>
                    <li><a data-toggle="tab" href="#myanswers">My Answers</a></li>
                    <li><a data-toggle="tab" href="#questionsforme">Questions for me</a></li>
                    <li><a data-toggle="tab" href="#askquestions">Ask Question</a></li>
                </ul>
                                
                <div class="tab-content">
                    <div id="myquestions" class="tab-pane fade in active">
                        <my-questions></my-questions>
                    </div>
                    <div id="myanswers" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="questionsforme" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                    <div id="askquestions" class="tab-pane fade" >
                        <ask-question></ask-question>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>